{% extends 'base.html.twig' %}

{% block title %}menu{% endblock %}

{% block body %}

<a href="{{path('app_brand')}}">Brand</a>
<a href="{{path('app_color')}}">Color</a>
<a href="{{path('app_category')}}">Category</a>
<a href="{{path('app_product')}}">Product</a>
<a href="{{path('app_size')}}">Size</a>
{% endblock %}
